{% extends "default.njk" %}

{% block content %}

    <div class="index-content">
        {% renderFile "./site/_data/index-content.md" %}
    </div>

    <div class="publications">
        <h2>Publications</h2>
        {% for p in publications.publications %}
            <div class="publication-item">

                <p>
                    {% if p.url %}
                        <a target="_blank" class="file" href="{{ p.file }}">{% include "icon-file.svg" %}</a>
                    {% endif %}{{ p.content | safe }}
                </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}